@import url('https://fonts.cdnfonts.com/css/wildness');
@import url('https://fonts.cdnfonts.com/css/fox-bebas');
@import url('https://fonts.cdnfonts.com/css/open-sans');

@keyframes slideInLeft {

	from {
		transform: translateX(-150%);
	}

	to {
		transform: translateX(left 8.5%);
	}
}

@keyframes rotation {

	0% {
		transform: rotate(0.1turn);
	}

	50% {
		transform: rotate(-0.1turn);
	}

	100% {
		transform: rotate(0.0turn);
	}

}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

body {

	overflow-x: visible;
}

.home {
	background-image: url("img/crepe2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
}

a {
	color: #ffffff;
	text-decoration: none;
	transition: .5s;
}

td {
	height: 1000px;
}

.name {
	font-family: 'wildness', sans-serif;
	font-size: 380%;
	color: rgb(228, 167, 47);
}

nav {
	background-color: rgba(0, 0, 0, 0.74);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100vw;
	height: 12vh;
	padding: 0 5%;
	z-index: 2;
}

.nav-list {
	display: flex;
	list-style: none;
	font-family: 'Fox Bebas', sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	height: 25px;
	justify-content: center;
	align-items: center;
}

.nav-list li a {
	box-sizing: border-box;
	transition: all 1s;
}

.nav-list li a:hover {
	border-bottom: 1px solid #e02d2d;
}

.nav-list li {
	letter-spacing: 3px;
	margin-right: 40px;
}

.conteiner {
	position: relative;
	left: 1%;
	bottom: 60vh;
}

.word1 {
	position: absolute;
	left: 7%;
	line-height: 0;
	font-size: 5rem;
	font-weight: 500px;
	font-family: 'Fox Bebas', sans-serif;
}

.word2 {
	position: absolute;
	left: 7.5%;
	line-height: 180%;
	font-size: 5rem;
	font-weight: 500px;
	font-family: 'Fox Bebas', sans-serif;
}

.word3 {
	position: absolute;
	left: 8%;
	line-height: 350%;
	font-size: 5rem;
	font-weight: 500px;
	font-family: 'Fox Bebas', sans-serif;
}

.word4 {
	position: absolute;
	left: 8.5%;
	line-height: 335%;
	font-size: 8.5rem;
	font-weight: 500px;
	font-family: 'Fox Bebas', sans-serif;
	color: rgb(250, 3, 3);
	text-shadow: 0.4rem 0.2rem 0.2rem #fff;
	animation-name: slideInLeft;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

main {
	display: flex;
	flex-direction: column;
}

.specialites {
	display: flex;
	width: 90vw;
	margin: 43px;
	border-bottom: 1px solid rgb(201, 201, 6);
	font-family: 'Fox Bebas', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.specialites-name {
	font-size: 28px;
	width: 30%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid rgb(201, 201, 6);
}

.specialites1 {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.gastronomy {
	width: 120px;
	height: 157.33px;
}

.icon-gastronomy {
	background-image: url("img/iconGastronomy.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	cursor: pointer;
}

.icon-gastronomy:hover {
	animation-name: rotation;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay: none;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

.service {
	width: 120px;
	height: 157.33px;
}

.icon-service {
	background-image: url("img/iconService.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	cursor: pointer;
}

.icon-service:hover {
	animation-name: rotation;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay: none;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

.glass {
	width: 120px;
	height: 157.33px;
}

.icon-glass {
	background-image: url("img/IconGlass.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	cursor: pointer;
}

.icon-glass:hover {
	animation-name: rotation;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay: none;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

.family {
	width: 120px;
	height: 157.33px;
}

.icon-family {
	background-image: url("img/iconFamily.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	cursor: pointer;
}

.icon-family:hover {
	animation-name: rotation;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay: none;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}


.title-specialites {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 10vh;
}

.content-gastronomy {
	width: 120px;
	text-align: center;
	font-family: 'Fox Bebas', sans-serif;
	font-size: 150%;
}


.content-service {
	width: 120px;
	text-align: center;
	font-family: 'Fox Bebas', sans-serif;
	font-size: 150%;
}

.content-glass {
	width: 120px;
	text-align: center;
	font-family: 'Fox Bebas', sans-serif;
	font-size: 150%;
}

.content-family {
	width: 120px;
	text-align: center;
	font-family: 'Fox Bebas', sans-serif;
	font-size: 150%;
}

.about {
	padding: 0 15%;
}

.about h1 {
	font-size: 38px;
	font-family: 'Fox Bebas', sans-serif;
	margin: 5% 0 3% 0;
	border-bottom: 3px solid rgb(201, 201, 6);
}

.about-text {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	flex-wrap: wrap;
}

.about-text .p-one {
	max-width: 40vw;
	text-align: justify;
	text-indent: 40px;
	font-family: 'Open Sans', sans-serif;
}

.image-about {
	background-image: url(img/aboutImage.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	width: 30%;
	height: 30vh;
	max-height: 30vh;
	margin-top: 4%;
	margin-left: 7%;
	clip-path: circle(6.6rem);
	background-position: bottom 30% left 30%;
}

.about-text .p-two {
	max-width: 100vw;
	text-align: justify;
	text-indent: 40px;
	font-family: 'Open Sans', sans-serif;
}

.menu {
	padding: 0 15%;
}

.menu h1 {
	font-size: 38px;
	font-family: 'Fox Bebas', sans-serif;
	margin: 5% 0 3% 0;
	border-bottom: 3px solid rgb(201, 201, 6);
}

.menu ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu ul li {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1% 0;
}

.menu ul li a:hover {
	background-color: rgba(201, 201, 6, 0.767);
	border-radius: 100%;
}

.option {
	color: black;
	display: flex;
	font-family: 'Fox Bebas', sans-serif;
	font-size: 2rem;
	height: 25px;
	justify-content: center;
	align-items: center;
}

.slider {
	margin: 0 auto;

}

.slides {}

.slides input {}

.slide {}

.slides img {}

.social-midia {
	padding: 0 15%;
}

.social-midia h1 {
	font-size: 38px;
	font-family: 'Fox Bebas', sans-serif;
	margin: 5% 0 3% 0;
	border-bottom: 3px solid rgb(201, 201, 6);
}

.social-midia-aside {
	margin-bottom: 4%;
}

.social-midia-aside h2 {
	font-size: 20px;
	font-family: 'Fox Bebas', sans-serif;
	margin: 2% 0 0% 0;
}

.social-midia-aside p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.social-midia div {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	color: #fff;
	margin: 2% 0;
	flex-wrap: wrap;
}

.instagram {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.whatsapp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.instagram:hover {
	width: 45px;
}

.whatsapp:hover {
	width: 45px;
}

.content-intagram {
	width: 120px;
	text-align: center;
	font-family: 'Fox Bebas', sans-serif;
	font-size: 150%;
	color: #000;
}

.content-whatsapp {
	width: 120px;
	text-align: center;
	font-family: 'Fox Bebas', sans-serif;
	font-size: 150%;
	color: #000;
}

.footer {
	background-color: rgb(201, 201, 6);;
	height: 15vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.congratulations {
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: end;
}

.congratulations h3 {
	font-family: 'wildness', sans-serif;
	font-size: 18px;
}

.congratulations h4 {
	font-size: 14px;
	margin: 4%;
}

.congratulations p {
	font-size: 10px;
}